<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="400" responseMode="File" path="404.html" />
      <error statusCode="403" responseMode="File" path="404.html" />
      <error statusCode="404" responseMode="File" path="404.html" />
      <error statusCode="500" responseMode="File" path="404.html" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
